body {

  margin: 0;
  padding: 0;

}

.majorheadings {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

.minorheadings {
  font-family: Verdana;
  font-weight: 300;
  color: White;
  font-size: 42px;
  text-align: center;
}

.thegraystyle {
  font-family: Verdana;
  color: gray;
  font-size: 21px;
}

.background-color {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.downloadapp {
  font-family: Verdana;
  font-weight: normal;
  font-size: 16px;
  color: aquamarine;
  text-align: center;
  z-index: --100;

}

#copyright {
  font-family: Verdana;
  text-align: right;
  color: gray;
}

#campimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#phoneicon {
  margin-top: 35px;
}
